:root {
    --calc-color: rgb(105, 214, 214);
    --background-color: #F1D1CD;
}

* {
    font-family: "Bebas Neue";
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.label {
    font-size: 40px;
    color: whitesmoke;
    margin-left: 20px;
    text-decoration: underline;
}

.screen {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 80px;
    width: 360px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgb(134, 167, 179) inset;
    text-align: right;
    font-size: 30px;
    padding-top: 20px;
    padding-right: 20px;
}

[data-number-operand], 
[data-operand] {
    height: 30px;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 15px;
    align-self: center;
    height: 630px;
    width: 450px;
    background-color: var(--calc-color);
    padding-top: 40px;
    box-shadow: -5px -5px 3px 7px rgb(70, 141, 141) inset;
}

.button-grid {
    display: grid;
    grid-template: repeat(5,90px)/repeat(4,90px);
    margin-top: 30px;
    height: 430px;
    text-align: center;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

button {
    width: 80px;
    height: 80px;
    font-size: 30px;
    align-self: center;
    justify-self: center;
    border-radius: 50px;
    border-style: none;
}

[data-clear],
[data-delete] {
    background-color: rgb(146, 64, 64);
    color: whitesmoke;
    box-shadow: 4px 4px 2px rgb(100, 44, 44);
}

[data-numbers] {
    box-shadow: 4px 4px 2px rgb(184, 183, 183);
}

[data-operation] {
    background-color: rgb(121, 177, 121);
    box-shadow: 4px 4px 2px rgb(92, 136, 92);
    color: whitesmoke;
}

.zero {
    width: 170px;
    grid-area: 5/1/5/3;
}

[data-equals] {
    background-color: pink;
    height: 170px;
    grid-area: 4/5/-1/4;
    box-shadow: 4px 4px 2px rgb(177, 131, 139);
}


/*Pseudo-classes*/

[data-clear]:hover,
[data-delete]:hover {
    background-color: rgb(122, 54, 54);
}

[data-numbers]:hover {
    background-color: rgb(201, 199, 199);
}

[data-operation]:hover {
    background-color: rgb(110, 165, 110);
}

[data-equals]:hover {
    background-color: rgb(207, 153, 162);
}